/* 기본 스타일 */
@font-face {
  font-family: 'NeoDunggeunmo';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CWDangamAsac-Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/CWDangamAsac-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cafe24SsurroundAir';
  src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.main-page, .home-page, .chat-page {
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home-page {
  background-image: url("./pages/component/assets/background_tutorialPage.jpg");
}

.main-page {
  background-image: url("./pages/component/assets/background_mainPage.jpg");
}

.chat-page {
  background-image: url("./pages/component/assets/background_chatPage.jpg");
}

.App {
  /* font-family: 'NeoDunggeunmo', monospace; */
  /* font-family: 'Orbit-Regular'; */
  font-family: 'Cafe24SsurroundAir';
  font-optical-sizing: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: #fff;
}

/* 메인화면 */
.user-wrap {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.main-logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-logo img {
  width: 65%;
  height: auto;
  transition: transform 0.5s ease, filter 0.3s ease;
}

.main-logo p, .main-logo h1 {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -70%);
  color: #040439;
  font-size: 5.5rem;
  margin: 0;
  pointer-events: none;
  text-align: center;
  white-space: nowrap;
}

@keyframes shine {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.main-logo h1{
  font-family: 'CWDangamAsac-Bold';
  margin-top: 90px;  
}

.main-logo img:hover ~ h1 {
  background: linear-gradient(-75deg, #040439 30%, #04043992 50%, #040439 70%); 
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  animation: shine 4s linear infinite;
}

.main-logo p {
  margin-top: 150px;
  font-weight: bold;
  font-size: 2rem;  
  color: #848484;
}

.home {
  display: flex;
  flex-direction: row;
  height: 100vh;
  position: relative;
}

.home-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1000;
}

.home-header > h1 {
  font-family: 'CWDangamAsac-Bold';
  font-size: 45px;
  font-weight: bold;
  background-clip: text;
  color: #040439;
}

.home-button {
  position: absolute;
  top: 13px;
  right: 20px;
}

.home-container {
  display: flex;
  flex-direction: row;
  margin-top: 200px;
  height: calc(100vh - 220px);
  width: 100%;
  align-items: center;
  justify-content: center;
}

.home-hometutorial {
  color: #000;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  box-sizing: border-box;
  overflow-y: auto;
}

.home-tutorial::-webkit-scrollbar {
  display: none;
}

.home-hometutorial {
  scrollbar-width: none;
}

/* 사이드바 스타일링 */
.home-sidebar {
  position: fixed;
  top: 85px;
  left: 0;
  width: 100%;
  height: calc(100vh - 980px);
  z-index: 1000;
}


.sidebar ul li:hover {
  color: black;
}

.sidebar {
  top: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 5px 0;
  z-index: 1000;
}

.sidebar ul {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 10px;
  margin: 0;
  gap: 12rem;
}

.sidebar ul li {
  color: rgb(0, 0, 74, 0.5); 
  position: relative;
  cursor: pointer; 
  padding: 0 10px;
  transition: color 0.3s;
}

.img-container {
  position: relative;
  width: 80%;
  height: auto;
  margin: 0 auto;
  background-color: #000;
}

.main-image {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 0;
}

.img-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(38, 38, 38, 0.5);
  font-size: 36px;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  z-index: 1;
}

.img-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  overflow: hidden;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
}

.edit-image {
  opacity: 0;
  z-index: 1;
}

.default-image {
  opacity: 1;
  z-index: 0;
}

.img-wrapper:hover .edit-image {
  opacity: 1;
}

.img-wrapper:hover .default-image {
  opacity: 1;
}

.desc-text {
  margin-top: 0.5rem;
  margin-bottom: 14rem;
  margin-left: 120px;
  font-size: 1.5rem;
}

.tutorial-function {
  position: relative;
  align-self: center;
  text-align: center;
}

.function-text {
  font-size: 3rem;
}

.tutorial-text {
  font-size: 1.5rem;
}


.start-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.start-button > button {
  padding-bottom: 20px;
}

/* 화면 넓이 줄어들 때 */
@media (max-width: 800px) {
  .home-sidebar {
    width: 200px;
  }

  .sidebar {
    width: 200px;
  }

  .hide-on-small {
    display: none;
  }

  .home-hometutorial {
    padding: 10px;
  }

  .tutorial-text {
    width: 180%;
  }
}


/* 버튼 관련 */
.button {
  width: auto;
  height: 50px;
  margin-top: 10px;
  padding: 5px 20px;
  border-radius: 20px;
  border: none;
  color: black;
  background-color: transparent;
  font-size: 2rem;
  transition: box-shadow 0.2s;
}

.button:hover {
  box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.248);
}

/* 입력창에 입력안했을 때 상태 */
.button:disabled {
  opacity: 0.3; 
  pointer-events: none;
}

.send {
  left: 500px;
}

/* 입력창 헤더(Reset버튼)부분 */
.chat-header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 13px;
  padding-right: 20px;
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}

/* 채팅창 */
.image-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 60px;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  /* width: 80%; */
  width: 400px;
  height: auto;
  padding: 0 10px;
  background-origin: padding-box;
  background-clip: content-box, padding-box;
  z-index: 1;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow:auto;
  padding: 10px;
  overflow: hidden;
}

.uploadImage {
  width: 400px;
  /* width: 85%; */
  height: auto;
  /* height: 500px; */
  transition: 0.3s;
  margin-bottom: 3px;
  object-fit: cover;
  border-radius: 25px;
  transition: transform 0.3s ease;
  object-fit: cover;
  border: 3px solid #ccc;
}

.uploadImage:hover {
  transform: translateY(-10px);
}

.image-upload button{
  background-color: #fff;
}

.chat-container {
  position: fixed;
  top: 75px;
  bottom: 170px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding: 0 10px;
  background-origin: padding-box;
  background-clip: content-box, padding-box;
  z-index: 1;
}

.chat-container::-webkit-scrollbar {
  display: none;
}

.message-container {
  margin: 1rem 0.5rem 1rem 0.5rem;
  padding: 1.5rem 2rem;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  min-height: fit-content; 
  width: 45%;
}

.message-img-container > img {
  /* width: 45%; */
  width: 300px;
  align-self: flex-end;
  margin-left: auto;
}

.message-container > div {
  word-wrap: break-word;
}

.user, .bot {
  border-radius: 20px;
  /* border: 1px solid rgb(149, 149, 149); */
  background: #ffffff;
  color: #000;
  box-shadow: 0 5px 10px rgba(172, 172, 172, 0.248);
}

.user {
  /* border-radius: 1rem 0rem 8rem 8rem; */
  /* background: linear-gradient(to left, #f3f3f3, #d3d3d3); */
  align-self: flex-end;
  margin-left: auto;
}

.bot {
  /* border-radius: 0rem 8rem 8rem 8rem; */
  /* background: linear-gradient(to right, #ffffff, #d3d3d3); */
  align-self: flex-start;
  margin-right: auto;
}

.message-img-container {
  display: flex;
  
  position: relative; 
}

.message-img-container img {
  max-width: 100%;
  height: auto;
  border: 3px solid #ccc;
  padding: 5px;
  background-color: #fff;
}

.message-img-container > button{
  position: relative;
  bottom: 5px;
  right: 0;
  margin-left: 5px;
}

.main-bottom{
  position: fixed;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 0 20px;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-container > input {
  flex: 1;
}

.input-container input[type="text"] {
  flex: 1;
  font-size: 2rem;
  color: #111111;
  background: #ffffff;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 1px solid rgb(201, 201, 201);
  outline: none;
}

.input-container > button {
  border: none;
  background-color: #ffffff;
  border: 1px solid rgb(201, 201, 201);
  color: rgb(0, 0, 0);
  border-radius: 20px;
  cursor: pointer;
  height: 100%;
  padding: 10px 20px;
  margin-bottom: 30px;
}

.input-container > button:disabled {
  background-color: #ccc;
}

.main-bottom > p {
  position: relative;
  margin-bottom: 0;
  font-size: 1.8rem;
  padding: 0px 20px;
  color: rgb(0, 0, 0);
}